<div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
        
        <div class="bg-white p-6 rounded-xl shadow-sm border border-gray-100">
          <h3 class="text-gray-500 text-sm font-semibold uppercase tracking-wider">
            Ventas de Hoy ({{ resumenDiario?.total_ventas || 0 }})
          </h3>
          <p class="text-3xl font-bold mt-2 text-gray-800">
            Bs. {{ resumenDiario?.ingresos_totales || 0 }}
          </p>
        </div>

        <div class="bg-white p-6 rounded-xl shadow-sm border border-gray-100">
          <h3 class="text-gray-500 text-sm font-semibold uppercase tracking-wider">
            Productos Críticos
          </h3>
          <p class="text-3xl font-bold mt-2 text-red-500">
            {{ alertasStock.length }}
          </p>
        </div>

        <div class="bg-white p-6 rounded-xl shadow-sm border border-gray-100">
          <h3 class="text-gray-500 text-sm font-semibold uppercase tracking-wider">
            Estado del Sistema
          </h3>
          <p class="text-xl font-bold mt-2 text-green-600 mt-3">
            <span *ngIf="cargando">Conectando...</span>
            <span *ngIf="!cargando">EN LÍNEA</span>
          </p>
        </div>

      </div>

        <div class="bg-white p-6 rounded-xl shadow-sm border border-gray-100 mb-8">
        <h3 class="text-gray-800 font-bold text-lg mb-4">Productos Más Vendidos</h3>
        
        <div class="relative h-64 w-full">
          <canvas id="graficoProductos"></canvas> 
        </div>
      </div>