@media print {
  .no-print { display: none !important; }
  body * { visibility: hidden; }
  app-arqueo, app-arqueo * { visibility: visible; }
  app-arqueo { position: absolute; left: 0; top: 0; width: 100%; }
}